<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

<%= form_with(model: [@company, @employee]) do |form| %>


  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
	<%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
	<%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
	<%= form.label :area_id %>
    <%= form.select :area_id, Area.pluck(:name, :id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Email</th>
			<th colspan="2">Area</th>
		</tr>
	</thead>

	<tbody>
	    <% @company.employees.each do |employee| %>
	      <tr>
	        <td><%= employee.first_name %></td>
	        <td><%= employee.last_name %></td>
	        <td><%= employee.email %></td>
	        <td><%= employee.area.name %></td>
	        <td><%= link_to 'borrar', company_employee_path(@company, employee), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
	       </tr>   
	    <% end %>
	</tbody>
</table>
<a href=""></a>